name: Release
on:
  push:
    branches:
      - main
      - release

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    steps:
      - name: Mirroring
        uses: pixta-dev/repository-mirroring-action@v1.1.0
        with:
          target_repo_url:
            git@github.com:nodi-bot/documentation.git
          ssh_private_key:
            ${{ secrets.MIRROR_SSH_PRIVATE_KEY }}
